<div class="container-fluid pt-5" id="gallery">
  <div class="row mt-5">
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="/assets/img/business_card.jpeg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/compass.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/crm_truck.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/crm_truck2.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/white_trailer_back_open1.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/white_trailer_side.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">6' x 12' Enclosed Trailer</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/jp_trailer.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Jake & Paige Gardner</h5>
          <p class="card-text"><i>Husband and wife, owners and operators.</i></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/kody_jake.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kody & Jake</h5>
          <p class="card-text"><i>Kody has been with us since the company was founded. He is one of our most experienced movers.</i></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/storage_unit.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/white_trailer_in_tow2.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/white_trailer_back_open.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/trailer1.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/truck_woods.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/trailer.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">7' x 14' Enclosed Trailer</h5>
          <p class="card-text"><i>Brand new 2019 v-nose, extended height, dual axle, 7000 lbs capacity, enclosed trailer.</i></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/white_trailer_in_tow3.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/white_trailer_in_tow1.jpg" alt="Card image cap">
      </div>
    </div>
  </div>
</div>