<div class="container-fluid pt-5" id="gallery">
  <div class="row mt-5">
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="/assets/img/box-truck-12.jpg" alt="Box Truck Image 12">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/box-truck-1.jpg" alt="Box Truck Image 1">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/box-truck-2.jpg" alt="Compass Location Image">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/jake-paige.jpg" alt="Jake and Paige Gardner">
        <div class="card-body">
          <h5 class="card-title">Jake & Paige Gardner</h5>
          <p class="card-text"><i>Husband and wife, owners and operators.</i></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/box-truck-5.jpg" alt="Box Truck Image 5">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/box-truck-7.jpg" alt="Box Truck Image 7">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/box-truck-8.jpg" alt="Box Truck Image 8">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/box-truck-9.jpg" alt="Box Truck Image 9">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/box-truck-10.jpg" alt="Box Truck Image 10">
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/box-truck-11.jpg" alt="Box Truck Image 11">
      </div>
    </div>
  </div>
</div>