<div class="row d-flex align-items-center justify-content-around" id="header">
  <div class="header-bg"></div>
  <div class="slogan-div col-md-12">
    <h2 class="slogan text-center">"Let us take you home, to the place you belong."</h2>
  </div>
  <div class="col-md-4 alert alert-light">
    <h3 class="text-center">Country Roads Moving</h3>
    <h3 class="text-center"><a href="tel:+13058868380">(304)886-8380</a></h3>
    <h3 class="text-center"><a href="mailto:crmovingwv@gmail.com">crmovingwv@gmail.com</a></h3>
  </div>
</div>
<div class="row d-flex align-items-center justify-content-center" id="moves">
  <div class="col-md-6 d-flex flex-column align-items-center">
    <h4>Moves to fit your schedule</h4>
    <p class="px-5 lead text-justify">Moving from one home to another is never easy. Yet, because evenings and weekends are primary moving times for us, we're constantly learning the best new ways to accommodate your life and work schedules to make your move easier.</p>
  </div>
</div>
<div class="row d-flex align-items-center justify-content-center" id="packages">
  <div class="row packages-row d-flex align-items-end justify-content-start w-75 mt-4">
    <h3>Packages</h3>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="mx-3 p-3 my-auto package">
      <h4>Manual Labor</h4>
      <ul>
        <li>$40 per person per hour</li>
        <li>3 hour minimun payment</li>
      </ul>
    </div>
    <div class="mx-3 p-3 package-main">
      <h4>Do-It-All</h4>
      <ul>
        <span>$450 - 3 hours*</span>
        <li>2 Movers</li>
        <li>16 Foot Box Truck</li>
        <li>Moving blankets, straps, and dolly</li>
      </ul>
      <span>* Additional hours can easily be provided for $125/hour.</span>
    </div>
    <div class="mx-3 p-3 my-auto package">
      <h4>Other Services</h4>
      <ul>
        <li>Household Packing*</li>
      </ul>
      <span>* Packing material not provided.</span>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center my-5 w-100">
    <div class="hr my-auto w-25"></div>
    <h5 class="my-auto mx-5 px-5">
      <img
        alt="Country Roads Moving Logo"
        class="d-inline-block align-top package-icon"
        src="/assets/img/white_logo.png"
        >
    </h5>
    <div class="hr my-auto w-25"></div>
  </div>
  <div class="row d-flex align-items-center justify-content-center alert alert-light get-quote">
    <h3 class="">Get a quick quote?</h3>
    <h3 class=""><a href="tel:+13048868380">(304)886-8380</a></h3>
    <h3 class=""><a href="mailto:crmovingwv@gmail.com">crmovingwv@gmail.com</a></h3>
  </div>
  <div class="row d-flex align-items-center justify-content-center my-4">
    <h4>Specialty items?  Country Roads is up to the challenge!</h4>
    <p class="px-5 lead text-justify">At Country Roads Moving, we’re a moving company that understands unique moves. While our standard packages do not include some specialty items, we’re experts in tailoring our services to tackle new and challenging moves. Contact us today to receive additional information on unique items/pieces and get a quote to include these in your preferred moving package!</p>
    <p class="px-5 lead text-justify">We can’t wait to help move you forward and take you home to the place you belong!</p>
  </div>    
</div>

<div class="row d-flex justify-content-center" id="testimonials">
  <div class="row d-flex align-items-end justify-content-start w-75 pb-3">
    <h3 class="test-header">Testimonials</h3>
  </div>
  <div class="row d-flex align-items-start justify-content-around">
    <div class="mx-3 p-3 d-flex flex-column testimonial">
      <p>"These guys do a great job, on time and stays on task to get the task done!"</p>
      <h5 class="d-flex justify-content-end mt-auto pb-0 mb-0">- Rick -</h5>
    </div>
    <div class="mx-3 p-3 d-flex flex-column testimonial">
      <p>"Highly recommend Country Roads Moving I called and got prompt service. They were very courteous and professional."</p>
      <h5 class="d-flex justify-content-end mt-auto pb-0 mb-0">- Todd -</h5>
    </div>
    <div class="mx-3 p-3 d-flex flex-column testimonial">
      <p>"I highly recommend Country Roads Moving. Very professional. Trustworthy. Prompt. Give them a call you won't go wrong."</p>
      <h5 class="d-flex justify-content-end mt-auto pb-0 mb-0">- Patsy -</h5>
    </div>
    <div class="mx-3 p-3 d-flex flex-column testimonial">
      <p>"They are totally dependable, very careful with what they are moving and very honest. 5 stars."</p>
      <h5 class="d-flex justify-content-end mt-auto pb-0 mb-0">- Mary -</h5>
    </div>
  </div>
</div>