#header {
  height: 60vh;
  padding-top: 2em;
}

.header-bg {
  background-image: url(/assets/img/truck_woods.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0em -10em;
  height: 58vh;
  width: 100%;
  position: absolute;
}

#moves {
  height: 45vh;
}

#packages {
  height: 133vh;
  background-color: #7F7E7F;
  color: #FFFFFF;
}

#testimonials {
  height: 50vh;
  background-color: #FFFFFF;
}

.package, .package-main {
  border: 1px solid #FFFFFF;
  border-radius: 15px;
}

.package {
  height: 20vh;
}

.package-icon {
  transform: scale(1.5);
}

.testimonial {
  border: 1px solid #000000;
  border-radius: 15px;
  width: 15em;
  height: 32vh;
  background-color: #FEFDFF;
}

.package-main {
  height: 30vh;
}

.test-header {
  // color: #FFFFFF;
}

.slogan-div {

}

.slogan {
  color: #FFFFFF;
}

.hr {
 background-color: #FFFFFF;
 height: 0.25em;
}

.alert.alert-light {
  background-color: rgba(226, 227, 229, 0.75);
  color: #000000;
}

.get-quote {
  background-color: rgba(226, 227, 229, 0.65) !important;
  width: 40%;
}