#header {
  height: 35em;
  padding-top: 3em;
}

.header-bg {
  background-image: url(/assets/img/box-truck-12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0em 0em;
  height: 35em;
  width: 100%;
  position: absolute;
}

#moves {
  height: 30em;
}

#packages {
  height: auto;
  background-color: #7F7E7F;
  color: #FFFFFF;
}

#testimonials {
  height: auto;
  background-color: #FFFFFF;
}

.package, .package-main {
  border: 1px solid #FFFFFF;
  border-radius: 15px;
}

.package {
  height: 15em;
}

.package-main {
  height: 20em;
}

// .package-icon {
//   transform: scale(1.5);
// }

.testimonial {
  border: 1px solid #000000;
  border-radius: 15px;
  width: 15em;
  max-width: 15em;
  height: 15em;
  background-color: #FEFDFF;
  font-size: 0.65em;
}

.testimonial > h5 {
  font-size: 1em;
}

.slogan {
  color: #FFFFFF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hr {
 background-color: #FFFFFF;
 height: 0.25em;
}

.alert.alert-light {
  background-color: rgba(226, 227, 229, 0.75);
  color: #000000;
}

.get-quote {
  background-color: rgba(226, 227, 229, 0.65) !important;
}