<div class="container-fluid">
  <nav class="navbar fixed-top">
    <img
      alt="Country Roads Moving Logo"
      class="d-inline-block align-top"
      src="/assets/img/black_logo.jpeg"
      >
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Packages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
    </ul>
  </nav>
  <div class="row">
    <div id="background-1-container" class="col">
      <img
        id="background-1"
        class="img-fluid"
        src="/assets/img/black_trailer_in_tow.jpg"
        alt=""
        >
      <div class="col-md-6">
        <h1 class="display-1">"Great care and service leads to a smooth successful move."</h1>
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
  </div>
</div>