<div class="container-fluid">
  <div id="construction" class="row justify-content-center">
    <div id="const-msg" class="col-md-4 align-self-center text-center">
      <img
        alt="Country Roads Moving"
        class="img-fluid"
        src="./assets/img/Landfall%20Lodge%20Branding%20Logo%20BLACK-01.jpg"
        >
      <!-- <h1>Country Roads Moving</h1> -->
      <h2>Currently moving in!</h2>
      <h3>Need a quick quote?</h3>
      <h3>Call us at (304)886-8380</h3>
      <h3>- OR -</h3>
      <h3>Email us at crmovingwv@gmail.com</h3>
    </div>
  </div>
</div>