#construction {
  height: 100vh;
  background-image: url("assets/img/black_trailer_in_tow1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #35363A;
}

#const-msg {
  background-color: #FDFEFF;
  padding: 1em;
}