.navbar {
  background-color: #000000;
  padding: 0px;
}

.nav-item {
  margin: 0px;
}

.nav-link {
  font-size: 2rem;
  color: #FDFDFD;
}

.nav-link:hover {
  background-color: #424242;
}

#footer {
  height: 8vh;
  background-color: #7F7E7F;
  color: #FFFFFF;
  a {
    color: #FFFFFF;
  }
}

.active {
  background-color: #424242;
}

.comp-logo {
  cursor: pointer;
}