<div class="container-fluid">
  <nav class="navbar fixed-top">
    <img
      alt="Country Roads Moving Logo"
      class="d-inline-block align-top comp-logo"
      routerLink="/home"
      src="/assets/img/black_logo.jpeg"
      >
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/home"
          routerLinkActive="active"
          >Home</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/about-us"
          routerLinkActive="active"
          >About Us</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/gallery"
          routerLinkActive="active"
          >Gallery</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <div class="row d-flex align-items-center justify-content-center" id="footer">
    <span class="mr-3">Country Roads Moving, LLC</span>&nbsp;|&nbsp;
    <a class="ml-3" routerLink="/terms">Terms & Conditions</a>
  </div>
</div>