<div class="container-fluid mt-5 py-5 px-3">
  <div class="row d-flex align-items-center justify-content-center mt-3 text-center" id="about-us">
    <h4>Proudly Serving West Virginia</h4>
    <div class="row">
      <div class="col-md-12 d-flex flex-column align-items-center">
        <p class="px-5 lead text-justify">It’s no secret that moving an entire household and relocating can be stressful. Country Roads Moving is here to help you with managing your moving stress!</p>
      </div>
      <div class="col-12 col-xl-7 d-flex flex-column align-items-center">
        <p class="px-5 lead text-justify">We began simply by moving family and friends to new apartments and homes locally. We have since grown to serve the greater North Central West Virginia area; now operating as a licensed and insured moving company equipped to handle local moves of any size. While our clientele may have changed and expanded, our mission to treat each customer as if we are moving our own friends and family has remained the same.</p>
      </div>
      <div class="col-12 col-xl-4 d-flex align-items-start justify-content-start">
        <img
          alt="Jake and Paige Gardner"
          class="img-fluid px-2 pb-4"
          id="jp-trailer"
          src="/assets/img/jp_trailer.jpg"
          >
      </div>
      <div class="col-md-12 d-flex flex-column align-items-center">
        <p class="px-5 lead text-justify">We offer a wide variety of local moves, including, but not limited to: apartments, townhomes, single-family homes, retirement communities, and condos; we have experience with all kinds of moving situations to provide you an easy transition to your new space.</p>
      </div>
      <div class="col-md-12 d-flex flex-column align-items-center">
        <p class="px-5 lead text-justify">Our movers are trained to protect your belongings and your home to make sure they are damage-free at the end of the move. Our movers often live in or grew up in the communities where we work, so knowledge of the area is to our advantage during your move. Our movers are lasting, trained employees who provide professional experience while moving your possessions.</p>
      </div>
    </div>
  </div>
</div>